{% extends 'attendance/base.html' %}

{% block title %}Select class to enter attendance for{% endblock %}

{% block content %}
<h1 class="page-header">What subject would you like to see?</h1>
<div class="list-group" id="myList">
{% for classLink,className in zipped_data %}

  <a href="{% url 'attendance:enterAttendance' classLink %}" class="list-group-item">{{className}}</a>
  
  {% endfor %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
 $(document).ready(function(){
   {% if alert %}
      swal("Attendance submitted!", "Data for {{classSection}} has been entered. Thank you!", "success")
   {% endif %}
 });
</script>
{% endblock %}


